body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-container {
  background-color: burlywood;
}

.search-div {
 /* width: 50%; */
 

}

.weather-details {
  background-color: red;
  border: solid 1px black;
  text-align: center;
}

.weather-details li {
  list-style: none;
}